services:
  app:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - APP_ENV=dev
      - APP_DEBUG=true
    depends_on:
      - database

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: app
      # You should definitely change the password in production
      POSTGRES_PASSWORD: '!ChangeMe!'
      POSTGRES_USER: app
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "app", "-U", "app"]
      timeout: 5s
      retries: 5
      start_period: 60s
###< doctrine/doctrine-bundle ###
