{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hallo {{ app.user.displayName }}!</h1>

    {% if app.user.cardId is null and app.user.cardOrder is null %}
        <a href="{{ path('order_card') }}">Ausweis beantragen</a>
    {% endif %}
{% endblock %}
