body {
    background-color: lightgray;
}

.flash-success {
    background-color: lightgreen;
    border-radius: 8px;
    padding-left: 8px;
}

.flash-error {
    background-color: palevioletred;
    border-radius: 8px;
    padding-left: 8px;
}

.login {
    text-align: center;
    padding: 64px;

    .center {
        display: grid;
        place-items: center;
        min-height: 33vh;
    }

    img {
        height: 4em;
    }
}

table {
    border-collapse: collapse;

    th {
        padding: 8px;
        background-color: darkgray;
    }

    td {
        padding: 8px;
    }

    .center {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: whitesmoke;
    }
}

nav > a > img {
    height: 1em;
}
