body {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: blue;
}

.flash-success {
    background-color: lightgreen;
    border-radius: 8px;
    padding: 4px 12px;
}

.flash-info {
    background-color: lightblue;
    border-radius: 8px;
    padding: 4px 12px;
}

.flash-error {
    background-color: palevioletred;
    border-radius: 8px;
    padding: 4px 12px;
}

.login {
    text-align: center;
    padding: 64px;

    .center {
        display: grid;
        place-items: center;
        min-height: 33vh;
    }

    img {
        height: 4em;
    }
}

table {
    border-collapse: collapse;
    min-width: 100%;
    margin: 8px 0;

    th {
        padding: 8px;
        background-color: darkgray;
    }

    td {
        padding: 8px;
    }

    .center {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: whitesmoke;
    }

    tr:nth-child(odd) {
        background-color: gainsboro;
    }
}

table.nowrap {
    white-space: nowrap;
}

header {
    font-weight: bold;

    a.logo {
        span {
            font-size: 2rem;
            vertical-align: top;
        }

        img {
            vertical-align: center;
            height: 3em;
            padding-right: 8px;
            padding-bottom: 8px;
        }
    }

    a.logout {
        float: right;
    }
}

nav > a {
    vertical-align: center;
    font-weight: bold;
    padding-right: 16px;
}

form .form-select, form .form-control {
    min-width: 50%;
}

form > button {
    margin: 16px 0;
}

form textarea {
    min-height: 5rem;
}

span.muted {
    font-size: .8em;
    color: dimgrey;
}

fieldset {
    margin: 8px 0;
}

details.qr-code {
    summary {
        cursor: pointer;
        font-weight: bold;
        color: blue;
    }
}
