body {
    background-color: lightgray;
}

.flash-success {
    background-color: lightgreen;
    border-radius: 8px;
    padding: 4px 12px;
}

.flash-info {
    background-color: lightblue;
    border-radius: 8px;
    padding: 4px 12px;
}

.flash-error {
    background-color: palevioletred;
    border-radius: 8px;
    padding: 4px 12px;
}

.login {
    text-align: center;
    padding: 64px;

    .center {
        display: grid;
        place-items: center;
        min-height: 33vh;
    }

    img {
        height: 4em;
    }
}

table {
    border-collapse: collapse;
    white-space: nowrap;

    th {
        padding: 8px;
        background-color: darkgray;
    }

    td {
        padding: 8px;
    }

    .center {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: whitesmoke;
    }
}

nav {
    a {
        vertical-align: middle;
        font-weight: bold;
        padding-right: 16px;

        img {
            vertical-align: middle;
            height: 3em;
            padding-right: 8px;
        }
    }
}
