{% extends 'base.html.twig' %}

{% block title %}Ausweisanträge{% endblock %}

{% block body %}
    <h1>Zu bearbeitende Anträge</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>beantragt am</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.user.displayName }}</td>
                <td>{{ order.createdAt.format('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
