{% extends 'base.html.twig' %}

{% block title %}Ausweis-ID zu Antrag zuweisen{% endblock %}

{% block body %}
    <h1>Ausweis-ID zu Antrag zuweisen</h1>

    <p>
        Name <b>{{ order.user.displayName }}</b>
    </p>

    <p>{{ form(form) }}</p>
{% endblock %}
