{% extends 'base.html.twig' %}

{% block body %}
    <p>
        Ausweis-ID: <code>{{ user.digitalCardId }}</code>
    </p>

    {% if is_granted('ROLE_ADMIN') %}
        <p>
            Name: <b>{{ user.displayName }}</b>
        </p>
    {% endif %}

    <details>
        <summary>QR-Code anzeigen</summary>

        <img src="{{ qrCode.dataUri }}">
    </details>
{% endblock %}
