name: CI

on:
  push:
  workflow_dispatch:

env:
  PHP_VERSION: 8.5
  SYMFONY_DEPRECATIONS_HELPER: max[total]=0
  DATABASE_URL: postgresql://app:!ChangeMe!@localhost:5432/app?serverVersion=15&charset=utf8"

jobs:
  composer-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      -   run: composer composer-validate

  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer lint-yaml

  lint-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer lint-container

  lint-twig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer lint-twig

  php-cs-fixer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer php-cs-fixer

  phpstan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer phpstan

  doctrine-migrations:
    runs-on: ubuntu-latest
    services:
      database:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: app
          POSTGRES_PASSWORD: '!ChangeMe!'
          POSTGRES_USER: app
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer doctrine-migrations

  doctrine-schema-validate:
    runs-on: ubuntu-latest
    services:
      database:
        image: postgres:15-alpine
        env:
          POSTGRES_DB: app
          POSTGRES_PASSWORD: '!ChangeMe!'
          POSTGRES_USER: app
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer doctrine-schema-validate

  rector:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer rector

  security-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      - uses: ramsey/composer-install@v3
      - run: composer security-check

  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: docker/build-push-action@v6
        with:
          pull: true
